.textImg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    &--left {
        flex-direction: row-reverse;
    }

    > * {
        width: 50%;
    }

    @media (max-width: 700px) {
        flex-direction: column;

        &--left {
            flex-direction: column-reverse;
        }

        > * {
            width: 100%;
        }
    }
}
