@use './variables.scss' as v;

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: v.$white;
    color: v.$gray;
    padding-bottom: 100px;
    min-height: 100vh;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 40px;
    padding-bottom: 0;

    a {
        color: inherit;
        text-decoration: none;
        
        &:hover {
            color: v.$main;
        }
    }

    li:nth-child(2n + 1) {
        font-weight: bold;

        &.active {
            color: v.$main;
        }
    }
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */
header h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header .slogan {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Sections */
.section {
    padding: 50px 20px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section-description {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
}

.service-grid, .testimonial-grid, .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.blog-grid a{
    color : #000;
    text-decoration: none;
}

.service-card, .testimonial-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.blog-all {
    margin-top: 20px;
}

/* Contact Form */
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: v.$gray;
    color: v.$white;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.service-card img, .testimonial-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.testimonial-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px auto;
}


/* Adjust grid gaps */
.service-grid, .testimonial-grid, .blog-grid {
    gap: 30px;
}
